- unless @user.requested_friends.empty?
  %table
    %tbody
      - @user.requested_friends.each do |u|
        %td=link_to "#{u.name}", user_path(u)
        Since #{u.created_at.to_s(:long)}
        %td
          - if @user = current_user
            = link_to '[Cancel]', user_friend_path(:user_id => current_user, :id => u), :method => :delete, :confirm => 'Are you sure?'
- else
  None