.col-md-4
.col-md-4
  .panel.post
    %h4 post something
    -if @user.present?
      =form_for @block, :url => blocks_path, :html => { :multipart => true } do |f|
        .form-group
          =f.text_area :body, :class => 'form-control'
          =f.hidden_field :user_id, value: @user.id
          .form-group.one-rem-down
            =label_tag( 'block[image]', "", :class => 'btn btn-primary') do
              .fa.fa-camera-retro.fa-lg
            =f.file_field :image, :class => 'hide'
            = button_tag(:type => 'submit', :class => 'btn btn-default') do
              Post
              .fa.fa-share
    -else
      %h5 log in to post
  %table
    %tbody
      -@blocks.sort {|a,b| b.created_at <=> a.created_at }.each do |block|
        %tr
          .block.panel
            %p="#{time_ago_in_words(block.created_at)} ago"
            -if block.image.present?
              .block-image{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"}
                =image_tag block.image.url(:medium)
              .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", role: "dialog", tabindex: "-1"}
                .modal-dialog.modal-lg
                  .modal-content 
                    =image_tag block.image.url
            %p=block.body

            -if @user.present? && block.user_id = @user.id
              = link_to edit_block_path(block) do
                .fa.fa-edit
              = link_to block, :method => :delete, :data => { :confirm => 'Delete permanently?' } do
                .fa.fa-times-circle-o
.col-md-4
