.col-md-4
.col-md-4
  %h3 Home
  -if @user.present?
    =form_for @block do |f|
      .form-group
        =f.text_area :body, :class => 'form-control'
        =hidden_field_tag :user_id, @user.id
      .form-group
        =f.submit "Post", :class => 'btn btn-default'
  -else
    %h5 log in to post
  %table
    %tbody
      -@blocks.sort {|a,b| b.created_at <=> a.created_at }.each do |block|
        %tr
          .block.panel
            %p=block.created_at.strftime("posted at %I:%M%p on %b/%d/%y") 
            %p=block.body
            -if block.user_id = @user.id
              = link_to 'Edit', edit_block_path(block)
              = link_to 'Destroy', block, :method => :delete, :data => { :confirm => 'Are you sure?' }
            -else


.col-md-4
