.col-md-3
  #wrapper
    =render 'users/profile'
.col-md-6
  = render 'layouts/messages'
  .panel.post
    -if current_user.present?
      =render 'blocks/post'
    -else
      %h5 log in to post
  #show_blocks.blocks
    =render @blocks
.col-md-3

:javascript
$(function () {
  $('.panel-collapse').collapse({toggle: false});

  $('body').on('click', '[data-toggle=collapse-next]', function (e) {
    var parent_id = $(this).data('parent');
    $(parent_id+' .panel-collapse').collapse('hide');

    var $target = $(this).parents('.panel').find('.panel-collapse');
    $target.collapse('toggle');
  });
});
