%ul.message-nav.pad-top-1
  %li
    .fa.fa-pencil
    = link_to 'Compose New Message', new_user_private_message_path(current_user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}
  %li
    = link_to 'Sent', user_sent_path(current_user)
  %li
    = link_to 'Received', user_received_path(current_user)
  %li
    = link_to 'Opened', user_opened_path(current_user)