%h4 post something
=form_for @block, remote: true, :url => blocks_path, :html => { :multipart => true } do |f|
  .form-group
    =f.text_area :body, :class => 'form-control', :id => 'block_body'
    =f.hidden_field :user_id, value: @user.id
    .form-group.pad-top-1.mar-left-1
      =f.check_box :viewable
      =f.label :viewable, "friends only", :class => 'fa fa-square-o fa-lg'
      -# %label.fa.fa-square-o.fa-lg{for: "viewable"}
        ='Friends Only'
      .row.pad-top-1
        =label_tag( 'block[image]', "", :class => 'btn btn-primary') do
          .fa.fa-camera-retro.fa-lg
        =f.file_field :image, :class => 'hide'
        = button_tag(:type => 'submit', :class => 'btn btn-default') do
          Post
          .fa.fa-share
