%h4 post something
=form_for @block, remote: true, :url => blocks_path, :html => { :multipart => true } do |f|
  =token_tag form_authenticity_token
  .form-group
    =f.text_area :body, :class => 'form-control', :id => 'block_body'
    =f.hidden_field :user_id, value: current_user.id
    .panel-group.privacy{:id => "#privacy"}
      .well.well-sm
        .panel-heading
          %a.panel-title
            %a.accordion-toggle{"data-parent" => "#privacy", "data-toggle" => "collapse-next"}
              privacy options
              .fa.fa-shield
        .panel-collapse.collapse{:id => "#collapse#privacy"}
          .panel-body
            .form-group.pad-top-1
              =f.check_box :viewable
              =f.label :viewable, "friends only", :class => 'fa fa-square-o fa-lg'
              =label_tag 'expires in'
              =select_tag :seconds_to_expiration, options_for_select([["never", 31556926],["30 seconds", 30] ,["1 minute", 60], ["30 minutes", 1800], ["1 day", 86400]])
      .row.pad-top-1
        =label_tag( 'block[image]', "", :class => 'btn btn-primary') do
          .fa.fa-camera-retro.fa-lg
        =f.file_field :image, :class => 'hide'
        = button_tag(:type => 'submit', :class => 'btn btn-default') do
          Post
          .fa.fa-share
