.center {
	text-align: center;
}

/* margin */
.mar-left-1 {
	padding-left: 1rem;
}
.mar-right-1 {
	padding-right: 1rem;
}
.mar-right-2 {
	padding-right: 2rem;
}
/* margin */

/*padding*/
.pad-top-half {
	padding-top: .5rem;
}
.pad-top-1 {
	padding-top: 1rem;
}
/*padding*/

.block-user-name {
	text-align: right;
	white-space: nowrap;
}
.dropdown-menu {
	width: 40rem;
}
.dropdown-toggle:hover {
	color: #1abc9c;
}
.friend-btn, .private-message-btn {
	padding-top: .5rem;
}
.friend-btn:hover {
	color: #1abc9c;
}
.navbar-brand {
	padding-top: 1.75rem;
	font-size: 2rem;
}
.pending-friend a {
	white-space: nowrap;
	overflow: hidden;
}
.alert {
	width: 50rem;
	margin-left: auto;
	margin-right: auto;
}
input[type=checkbox] {
  /*display:none;*/
  margin:10px;
}
input[type="checkbox"] + label:before {
  content: "\f096"; /* check-empty */
}

input[type="checkbox"]:checked + label:before {
  content: "\f046"; /* check */
}
