.one-rem-right{
	padding-left: 1rem;
}
.block-user-name{	
	text-align: right;	
	white-space: nowrap;
}
.dropdown-menu{
	width: 40rem;
}
.dropdown-toggle:hover{
	color: #1abc9c;
}
.friend-btn{
	padding-top: .5rem;
}
.friend-btn:hover{
	color: #1abc9c;
}
.navbar-brand{
	padding-top: 1.75rem;
	font-size: 2rem;
}
.one-rem-down{
	padding-top: 1rem;
}
.pending-friend a{
	white-space: nowrap;
	overflow: hidden;	
}
.two-rems-right{
	padding-left: 2rem;	
}
.alert{
	width: 50rem;
	margin-left: auto;
	margin-right: auto;
}
