.post {
	margin-top: 1.5rem;
	width: 50rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	.btn{
		margin-left: 1rem;
	}
}
.hide {
	display: none;
}
.search-bar {
	margin-top: .75rem;
}
.search-bar .search {
	height: 3.5rem;
}
.search-bar .btn {
	padding-top: .5rem;
	height: 3.5rem;
}
.upload-button {
}
.ui-corner-all {
	background-color: white;
	z-index: 9999;
	width: 20%;
}